<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp.BackEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/iziToast/css/iziToast.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    @Html.Partial("Header")

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BlogApp.BackEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/js/Component/Notification.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/ajaxExtens.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
